.section-command {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  overflow: hidden;
  background-color: #ffffff;
}

.command-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  width: 85%;
  overflow: hidden;
}

.body-command-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-command {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.body-command {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 10px;
  background-color: #fff;
  overflow-y: scroll;
  gap: 5px;
}

.body-location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter-command-today {
  display: flex;
  flex-direction: column;
  height: min-content;
  max-height: 700px;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}



.img-ubi {
  width: 90%;
  height: 50%;
  overflow: hidden;
}


.opening-hours {
  width: 90%;
}

.opening-hours h2 {
  font-size: 1.5em;
}

.hours-row {
  display: flex;
  justify-content: space-between;
}

.hours-col {
  flex-basis: calc(50% - 20px);
  color: #000;
}

.items {
  display: flex;
  justify-content: space-between;
}